In [1]:
import pandas as pd

In [2]:
# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', '{:,.2f}'.format)

In [3]:
productos = pd.read_csv("../Productos2.csv", names=("product_id", "product_name", "price", "uses_credit"), encoding='latin1')
clientes = pd.read_csv("../Clientes2.csv", names=("client_id", "client_name", "phonenumber", "credit"))
pedidos = pd.read_csv("../Pedidos2.csv", names=("product_id", "client_id", "qty"))

clientes = clientes.set_index('client_id')
productos = productos.set_index('product_id')
# pedidos['date'] = pd.to_datetime(pedidos['date'], format="%d/%m/%Y")

In [4]:
productos.head()

                                   product_name    price uses_credit
product_id
BIT-434         Campana Extractora modelo Glass   375.09           S
SSE-115     Refrigeradora  CoolStyle 311N Steel 3,243.58           S
NMV-644                     Lavadora Automatica 3,272.48           S
MLE-193                  Cocina a gas Ingenious 2,779.41           S
YYK-309              Refrigeradora Door in Door 4,079.44           S

In [5]:
clientes.head()

                               client_name  phonenumber  credit
client_id
79464412          PORTUGAL RAFFO ALEXANDER      3902394   10000
16552775   YALLICO PAREDES LOURDES CARMELA    960176666   20000
20864087        ZEGARRA CASANOVA ESTEFANIA      2639311   10000
94326707                CHANG SEGURA ANGEL    984185862   10000
73786035        ORTIZ EPIQUEN HENRY ISRAEL      6873908   20000

In [6]:
pedidos.head()

  product_id  client_id  qty
0    JXD-139   50375303    6
1    CRU-009   50375303    5
2    YYK-309   22777006    3
3    OTS-581   42157219    5
4    AWB-345   13245501    1

In [7]:
# reduce stock from products as orders come

pedidos['served'] = False
for i, pedido in pedidos.iterrows():
    cid = pedido['client_id']
    pid = pedido['product_id']
    qty = pedido['qty']
    credit = clientes.loc[cid, 'credit']
    price = productos.loc[pid, 'price']
    uses_credit = productos.loc[pid, 'uses_credit']
    total_cost = qty * price
    if uses_credit == 'S' and credit >= total_cost:
        clientes.loc[cid, 'credit'] -= total_cost
        pedidos.loc[i, 'served'] = True

In [32]:
# reporte

# # This creates a report with different order for clients (as they appear in pedidos) 
# for cid, df in pedidos.groupby('client_id', sort=False):
#     print('========================================================================================================================')
#     print(clientes.loc[[cid]])
#     print('------------------------------------------------------------------------------------------------------------------------')
#     print(df.loc[df['served'], ['product_id', 'client_id', 'qty']])

for i, client in clientes.reset_index().iterrows():
    print('========================================================================================================================')
    print(client)
    print('------------------------------------------------------------------------------------------------------------------------')
    mask = (pedidos['client_id'] == client['client_id']) & (pedidos['served'])
    t = pedidos.loc[mask, ['product_id', 'qty']]
    t = t.merge(productos, how='left', on='product_id')
    t['total'] = t['qty'] * t['price']
    print(t[['product_id', 'qty', 'total']])

========================================================================================================================
client_id                      79464412
client_name    PORTUGAL RAFFO ALEXANDER
phonenumber                     3902394
credit                         5,782.30
Name: 0, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    NSM-283    2 1,873.62
1    JXD-139    4 2,344.08
========================================================================================================================
client_id                             16552775
client_name    YALLICO PAREDES LOURDES CARMELA
phonenumber                          960176666
credit                                3,716.33
Name: 1, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty     total
0    AWB-345    6  4,802.22
1    CNN-411    5 11,481.45
========================================================================================================================
client_id                        20864087
client_name    ZEGARRA CASANOVA ESTEFANIA
phonenumber                       2639311
credit                             258.47
Name: 2, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    JFC-432    1   307.67
1    JDQ-505    6 9,433.86
========================================================================================================================
client_id                94326707
client_name    CHANG SEGURA ANGEL
phonenumber             984185862
credit                  10,000.00
Name: 3, dtype: object
------------------------------------------------------------------------------------------------------------------------
Empty DataFrame
Columns: [product_id, qty, total]
Index: []
========================================================================================================================
client_id                        73786035
client_name    ORTIZ EPIQUEN HENRY ISRAEL
phonenumber                       6873908
credit                          17,750.16
Name: 4, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    DEN-125    4 2,249.84
========================================================================================================================
client_id                          31193794
client_name    GARCIA YINO AMERICO WALDEMAR
phonenumber                       986742314
credit                             5,000.00
Name: 5, dtype: object
------------------------------------------------------------------------------------------------------------------------
Empty DataFrame
Columns: [product_id, qty, total]
Index: []
========================================================================================================================
client_id                    96659352
client_name    BRAVO VIZCARRA ROBERTO
phonenumber                 985707065
credit                       4,099.88
Name: 6, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    ADX-669    4 4,957.52
1    GBJ-693    3   942.60
========================================================================================================================
client_id                              57690875
client_name    NORABUENA VILLEGAS ARTURO RAFAEL
phonenumber                           889013091
credit                                 2,232.17
Name: 7, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    CSZ-863    5 8,567.85
1    CIM-038    3 7,633.92
2    XTE-383    6 1,566.06
========================================================================================================================
client_id                            69975105
client_name    VALDERRAMA MENDOZA LUIS ADOLFO
phonenumber                         977523461
credit                               2,717.26
Name: 8, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    WZD-331    6 7,282.74
========================================================================================================================
client_id                         54761731
client_name    LOYOLA IBEROS ANGEL GUSTAVO
phonenumber                      951334343
credit                              291.26
Name: 9, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty     total
0    DEV-433    3  8,096.22
1    ZVA-180    4 11,612.52
========================================================================================================================
client_id                   67418025
client_name    MOSCOSO SUELDO MARINA
phonenumber                  7663823
credit                      4,063.06
Name: 10, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    QUU-384    1 2,545.54
1    FEG-454    2 3,391.40
========================================================================================================================
client_id                         77642521
client_name    SORIA CASTILLO LUIS GUSTAVO
phonenumber                      952902679
credit                            5,736.66
Name: 11, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty     total
0    QUU-384    5 12,727.70
1    YYU-726    2  1,535.64
========================================================================================================================
client_id                          35584593
client_name    LAM VIZCARDO MILAGROS YVONNE
phonenumber                         6294058
credit                             5,724.64
Name: 12, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty     total
0    SSD-176    4  2,270.84
1    AVM-258    4 11,324.92
2    KCO-488    1    679.60
========================================================================================================================
client_id                              43053402
client_name    BENAVENTE ZIMIC MADELEINE ZKENIA
phonenumber                           917252545
credit                                 2,633.12
Name: 13, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    YOT-530    2 1,883.46
1    VRR-793    2   483.42
========================================================================================================================
client_id                    84165595
client_name    SALAMANCA GAVIDIA ALEX
phonenumber                 963178009
credit                         304.52
Name: 14, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    DFJ-952    1 3,342.77
1    RDT-761    6 5,429.70
2    JFC-432    3   923.01
========================================================================================================================
client_id                    89298238
client_name    ALFARO PRECIADO JOHNNY
phonenumber                 996727505
credit                         319.74
Name: 15, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    PFD-286    2 5,552.04
1    QFP-254    2   361.30
2    YOT-530    4 3,766.92
========================================================================================================================
client_id                                     71984468
client_name    IPARRAGUIRRE VILLEGAS NICOLAS EDILBERTO
phonenumber                                  935441620
credit                                        7,570.49
Name: 16, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    PQH-935    2   188.90
1    JJN-837    5 9,899.60
2    TZY-323    1 2,341.01
========================================================================================================================
client_id                     29847168
client_name    ALDAVE ZEVALLOS ROSARIO
phonenumber                    6261108
credit                        5,000.00
Name: 17, dtype: object
------------------------------------------------------------------------------------------------------------------------
Empty DataFrame
Columns: [product_id, qty, total]
Index: []
========================================================================================================================
client_id                    79475585
client_name    RETTO ARCA ANNIE MAGDA
phonenumber                 941241092
credit                       4,568.30
Name: 18, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    BWD-036    5 5,431.70
========================================================================================================================
client_id                      91897732
client_name    GAMARRA ALCOCER VIRGINIA
phonenumber                   954025615
credit                           348.72
Name: 19, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty     total
0    TMN-884    2    621.30
1    XZR-640    5 11,952.90
2    WLL-607    1  1,525.04
3    PFD-286    2  5,552.04
========================================================================================================================
client_id                                33397650
client_name    RONDON EGUSQUIZA CARMELA VALENTINA
phonenumber                               3911397
credit                                   2,430.88
Name: 20, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    IHG-413    3   953.10
1    VJI-529    6 6,616.02
========================================================================================================================
client_id                           83236386
client_name    RIVERO CORRALES JUAN FERNANDO
phonenumber                        946513105
credit                              4,516.64
Name: 21, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    MTF-868    2 1,943.18
1    OPT-996    2 2,734.96
2    OFS-384    1   805.22
========================================================================================================================
client_id                            32821689
client_name    ZAVALETA EPIQUEN CARMEN ZKENIA
phonenumber                         955248211
credit                               3,181.04
Name: 22, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    ONB-903    3 1,961.01
1    MTF-868    5 4,857.95
========================================================================================================================
client_id                   45783712
client_name    POZO CHUNG RAFAEL DEL
phonenumber                  8252118
credit                      1,219.48
Name: 23, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    YUQ-590    2 3,958.14
1    QFR-958    3 4,822.38
========================================================================================================================
client_id                    48184351
client_name    LOPEZ JAUREGUI ROLANDO
phonenumber                 884716679
credit                      13,091.21
Name: 24, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    KQA-580    2 5,815.84
1    TXM-139    1 1,092.95
========================================================================================================================
client_id                            33713901
client_name    VILLEGAS CASTRO SOFIA VIRGINIA
phonenumber                           2339560
credit                               7,617.22
Name: 25, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    UWA-476    2 2,382.78
========================================================================================================================
client_id                  76388967
client_name    GONZALES QUIO ISABEL
phonenumber                 8094909
credit                    10,000.00
Name: 26, dtype: object
------------------------------------------------------------------------------------------------------------------------
Empty DataFrame
Columns: [product_id, qty, total]
Index: []
========================================================================================================================
client_id                       81114108
client_name    ZAMBRANO SHIRAKAWA WILMER
phonenumber                      5853087
credit                            431.70
Name: 27, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    VRR-793    4   966.84
1    RBE-789    2 6,606.14
2    DFF-034    5 1,296.25
3    VCL-867    1   699.07
========================================================================================================================
client_id                          57263719
client_name    PRADO TORREALBA CARMEN JANET
phonenumber                       988736554
credit                               678.90
Name: 28, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    BWD-036    3 3,259.02
1    OTH-462    2 1,062.08
========================================================================================================================
client_id                            79140840
client_name    TORREALBA ARCA VICTORIA GLENDA
phonenumber                         876488179
credit                               4,354.41
Name: 29, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    DFF-034    3   777.75
1    HLR-109    1   439.47
2    OTH-462    1   531.04
3    TMN-884    5 1,553.25
4    JXD-139    4 2,344.08
========================================================================================================================
client_id                      71378466
client_name    MIYAKE CARO HENRRY EDGAR
phonenumber                   921051207
credit                         5,472.12
Name: 30, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    BIT-434    4 1,500.36
1    FVQ-662    2 2,121.36
2    OQI-373    1   906.16
========================================================================================================================
client_id                          17913944
client_name    PALOMARES SANTISTEBAN HENRRY
phonenumber                       967944433
credit                             3,166.74
Name: 31, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    IHG-413    4 1,270.80
1    DEN-125    1   562.46
========================================================================================================================
client_id                         62566305
client_name    ROMERO ALFARO MONICA JOHANA
phonenumber                        8206363
credit                               54.77
Name: 32, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    DIQ-718    4 1,563.20
1    GXF-122    5 5,550.80
2    AVM-258    1 2,831.23
========================================================================================================================
client_id                          46462527
client_name    LOYOLA MORI NICOLAS FERNANDO
phonenumber                         5865695
credit                             2,281.60
Name: 33, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    KCO-488    4 2,718.40
========================================================================================================================
client_id               79420973
client_name    AURIS JOLAY DIANA
phonenumber              7073267
credit                  1,669.52
Name: 34, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    GXF-122    3 3,330.48
========================================================================================================================
client_id                      22777006
client_name    ASMAD PINTO MARIA LORENA
phonenumber                   939918070
credit                         1,135.05
Name: 35, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    FCN-617    1 4,121.05
1    XLF-273    2 4,743.90
========================================================================================================================
client_id                  43877279
client_name    RARAZ SUCHERO ADOLFO
phonenumber                 4105386
credit                     2,729.16
Name: 36, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    SSD-176    4 2,270.84
========================================================================================================================
client_id                        73535476
client_name    AYALA SANCHEZ MARIA TERESA
phonenumber                     892714088
credit                           1,590.29
Name: 37, dtype: object
------------------------------------------------------------------------------------------------------------------------
  product_id  qty    total
0    UWA-476    5 5,956.95
1    KJX-387    4 2,452.76
========================================================================================================================
client_id                   26976877
client_name    TORO CUBA DIALY DIANA
phonenumber                  2748661
credit                      3,297.23
Name: 38, dtype: object

In [33]:
2_979.35 + 903.25 + 2_838.55 + 3_278.85

10000.0

In [34]:
0 + 3843.75 + 903.25 + 2838.55 + 3278.85

10864.4